/* :root 样式设置 */
:root {
  width: 100%;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;
  background-image: url('/bg.svg');
  background-size: cover; /* 背景图覆盖容器，自动调整大小 */
  background-repeat: no-repeat; /* 背景图不重复 */
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; /* 默认背景色 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 使底部图片固定在页面底部 */
.bottom-image {
  position: fixed;
  bottom: 0; /* 图片距离底部为0 */
  left: 0; /* 图片从页面左边开始 */
  width: 100%; /* 图片宽度填满页面 */
  z-index: -1; /* 使图片处于最底层 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-image img {
  width: 100%; /* 使图片宽度自适应屏幕 */
  height: auto; /* 保持图片比例 */
}


/* 链接样式 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* 设置body样式 */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100;
}

/* h1样式 */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 按钮样式 */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* 针对浅色主题设置样式 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
